name: MY-CI

on:
  push:
    branches: ["main", "master"]
  workflow_dispatch:

permissions:
  contents: read
  security-events: write
  actions: read

jobs:
  trivy-scan:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        uses: actions/checkout@v5

      - name: Trivy FS Scan
        uses: aquasecurity/trivy-action@0.33.1
        with:
          scan-type: fs
          format: sarif
          output: results.sarif
          severity: HIGH,CRITICAL

      - name: Upload SARIF
        uses: github/codeql-action/upload-sarif@v4
        with:
          sarif_file: results.sarif
